<div class="amp-quicklinks-container">
    <div class="amp-quicklinks-wrapper">
        <div class="amp-quicklink amp-quicklink-fullscreen">{{> icons-zoom-in }}</div>
        <div class="amp-quicklink amp-quicklink-video">{{> icons-video }}</div>
        <div class="amp-quicklink amp-quicklink-recliner">{{> icons-recliner }}</div>
        <div class="amp-quicklink amp-quicklink-box">
            <div class="amp-icon-box-open">{{> icons-box-open }}</div>
            <div class="amp-icon-box-close">{{> icons-box-close }}</div>
        </div>
        <div class="amp-quicklink amp-quicklink-spinset">{{> icons-360 }}</div>
    </div>
</div>