<section class="amp-viewer amp-mobile-viewer {{touch}}">
    <header>
        <div class="amp-toplinks-container">
            <div class="amp-toplinks-wrapper">
                <div class="amp-toplinks amp-zoom-out">{{> icons-zoom-out }}</div>
                <div class="amp-toplinks amp-zoom-in">{{> icons-zoom-in }}</div>
            </div>
        </div>
    </header>
    <div class="amp-main-container" >
        <ul class="amp-viewer-main">
            {{#each items}}
                {{renderPartial '_template-main-item' item=this templates=../templates productName=../productName}}
             {{/each}}
        </ul>
    </div>

    <div class="amp-nav-container">
        <div class="amp-navigation-wrapper">
            <div class="amp-navigation-container">
                 <div class="amp-prev amp-nav-prev amp-nav-button">
                     <div class="amp-svg-icon-wrapper">
                     {{> icons-caret-left }}
                     </div>
                 </div>
                 <div class="amp-nav-links">
                     <ul class="amp-navigation-main">
                         {{#each items}}
                            {{> _template-nav-item-alt }}
                         {{/each}}
                     </ul>
                 </div>
                 <div class="amp-next amp-nav-next amp-nav-button">
                     <div class="amp-svg-icon-wrapper">
                     {{> icons-caret-right }}
                     </div>
                 </div>
            </div>
           {{> _template-quicklinks }}
        </div>
    </div>

</section>
